<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shiep.classroom.core.shiepcrmcore.classroomorder.dao.ClassroomOderDao">
    <resultMap id="ClassrommBaseResultMap" type="com.shiep.classroom.core.shiepcrmcore.classroomorder.dto.ShiepClassroomInfoDTO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="classroom_code" jdbcType="VARCHAR" property="classroomCode"/>
        <result column="classroom_name" jdbcType="VARCHAR" property="classroomName"/>
        <result column="is_computer" jdbcType="VARCHAR" property="isComputer"/>
        <result column="chairs" jdbcType="INTEGER" property="chairs"/>
        <result column="desks" jdbcType="INTEGER" property="desks"/>
        <result column="actual_chairs" jdbcType="INTEGER" property="actualChairs"/>
        <result column="actual_desks" jdbcType="INTEGER" property="actualDesks"/>
        <result column="projector_count" jdbcType="INTEGER" property="projectorCount"/>
        <result column="is_projector" jdbcType="VARCHAR" property="isProjector"/>
        <result column="computer_count" jdbcType="INTEGER" property="computerCount"/>
        <result column="is_clear" jdbcType="VARCHAR" property="isClear"/>
        <result column="is_prohibited" jdbcType="VARCHAR" property="isProhibited"/>
        <result column="building_code" jdbcType="VARCHAR" property="buildingCode"/>
        <result column="floor" jdbcType="VARCHAR" property="floor"/>
        <result column="building_name" jdbcType="VARCHAR" property="buildingName"/>
    </resultMap>

    <resultMap id="BuildingBaseResultMap" type="com.shiep.classroom.core.shiepcrmcore.common.entity.po.ShiepBuildingInfoVo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="second_name" jdbcType="VARCHAR" property="secondName"/>
        <result column="building_code" jdbcType="VARCHAR" property="buildingCode"/>
        <result column="floors" jdbcType="VARCHAR" property="floors"/>
        <result column="building_name" jdbcType="VARCHAR" property="buildingName"/>
        <result column="tab_id" jdbcType="VARCHAR" property="tabId"/>
    </resultMap>

    <select id="getAllClassroomList" resultMap="ClassrommBaseResultMap">
        SELECT
        shiep_classroom_info.id,
        shiep_classroom_info.classroom_code,
        shiep_classroom_info.classroom_name,
        shiep_classroom_info.chairs,
        shiep_classroom_info.desks,
        shiep_classroom_info.actual_chairs,
        shiep_classroom_info.actual_desks,
        shiep_classroom_info.projector_count,
        shiep_classroom_info.is_projector,
        shiep_classroom_info.is_computer,
        shiep_classroom_info.computer_count,
        shiep_classroom_info.is_clear,
        shiep_classroom_info.is_prohibited,
        shiep_classroom_info.building_code,
        shiep_classroom_info.floor,
        shiep_building_info.building_name
        FROM
        shiep_classroom_info LEFT JOIN shiep_building_info ON shiep_classroom_info.building_code = shiep_building_info.building_code
        WHERE
        shiep_classroom_info.is_deleted IN ('n','N')
        AND
        shiep_building_info.is_deleted IN ('n','N')
    </select>

    <select id="getAllBuildingList" resultMap="BuildingBaseResultMap">
        SELECT
        id,
        building_name,
        building_code,
        floors,
        second_name,
        tab_id
        FROM shiep_building_info
        where
        is_deleted IN ('n','N')
    </select>


</mapper>